.button {
    @include font('OSLight', 20px, 20px, 400);
    padding: 22px 32px;
    width: 208px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: var(--color-ozon);
    color: var(--color-white);
    outline: none;
    cursor: pointer;

    &_size {
        width: 238px;
    }
}

@media (max-width: 400px) {
    .button  {
        @include font('OSReg', 26px, 30px, 400);
        width: 95%;
        height: 76px;
        margin-left: 20px;
        }
    }