.courses {
    grid-area: courses;
    width: 1176px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;

    h3 {
        display: flex;
        justify-content: center;
        font-size: 46px;
        line-height: 54px;
    }
}

.all-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 376px;
    max-height: 376px;
    margin: 0;
    border: 1px solid #E9EEF1;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px #E9EEF1;
    border-radius: 12px;

    &-img {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    &-info {
        padding: 32px 24px;
        max-width: 328px;

        h4 {
            @include h4_main;
        }

        p {
            @include p_main(16px);
            padding-top: 16px;
            padding-bottom: 24px;
        }

        a {
            font-size: 18px;
            line-height: 24px;
        }
    }
}