.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 124px;

    &__navigation {
        display: flex;
        justify-content: space-between;
        max-width: 520px;
        width: 100%;
        @include font('OSReg', 16px, 20px);

        &-link {
            height: 20px;
            @include font('OSBold', 14px, 20px);
            text-decoration: none;
            color: var(--color-dark);
        }
    }

    &__tagline {
        @include font('OSBold', 22px, 26px, 500);
        color: var(--color-dark);
    }

    &__menu-mobile {
        display: none;
    }
}

@media (max-width: 1180px) {
    .header {
        &__tagline {
            display: none;
        }
    }
}

@media (max-width: 950px) {
    .header {
        &__navigation {
            display: none;

            &-link {
                display: none;
            }
        }

        &__menu-mobile {
            display: block;

            img {
                width: 42px;
                height: 42px;
            }
        }
    }
}

@media (max-width: 400px) {
    .header {
        height: 76px;
        // justify-content: space-around;

        img {
            width: 120px;
            height: 38px;
        }

        &__navigation {
            display: none;
        }

        &__tagline {
            display: none;
        }

        &__menu-mobile {
            display: block;
            padding-right: 20px;

            img {
                width: 32px;
                height: 32px;
            }
        }

        &__main-logo {
            padding-left: 20px;
        }
    }
}