.input {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    padding: 16px 20px;
    border: 1px solid var(--c-mystic);
    border-radius: 6px;
    @include font('OSReg', 18px, 400);

    &::placeholder {
        color: var(--c-dark-space);
    }

    &:focus {
        outline: none;
    }

    &_valid {
        border-color: var(--valid-value);
    }

    &_invalid {
        border-color: var(--invalid-value);
    }
}

.select {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    padding: 16px 20px;
    border: 1px solid var(--c-mystic);
    border-radius: 6px;
    @include font('OSReg', 18px, auto, 300);
    background-color: var(--color-white);
    cursor: pointer;

    &__text {
        color: var(--dark space);
    }

    &__icon_opened {
        transform: rotate(180deg);
    }

    &__dropdown {
        position: absolute;
        top: 60px;
    }
}