.picture {
    display: flex;
    align-items: center;
    min-height: 708px;
    padding: 0;
    background: center center no-repeat;
    background-size: cover;
    background-image: url('../img/image.jpg');
    grid-area: picture;

    &__info {
        color: var(--color-white);
        width: 500px;
        height: 276px;
        padding: 0;
        margin-left: 110px;
        margin-bottom: 120px;
    }
    
    &__title {
        font-family: 'OSBold';
        font-size: 58px;
        line-height: 68px;
        margin-bottom: 20px;
    }
    
    &__text {
        font-family: 'OSLight';
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 32px;
    }

}

