:root {
    --color-white: white;
    --color-dark: #001A34;
    --color-ozon: #005BFF;
    --c-aqua-haze: #EFF3F6;
    --c-mystic: #B2BAC2;
    --c-dark-space: #1A3047;
    --valid-value: #06CA99;
    --invalid-value: #F91155;
    --dark-space: #667585;
}

@mixin font($name, $size, $height:24px, $weight: 300) {
    font-family: $name;
    font-size: $size;
    line-height: $height;
}

@mixin p_main($font-size) {
    @include font('OSLight', $font-size, 24px);
    margin: 0;
}

@mixin h4_main {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding-bottom: 16px;
}