@import './variables';
@import './font';
@import './variables';
@import './header';
@import './button';
@import './person';

.mainWrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    display: grid;
    grid-template-areas: 
    ". header ."
    ". person .";
    grid-template-columns: 92px 1fr 92px;
    font-family: var(--font-regular);
    color: var(--color-dark);
}