@import './variables';
@import './font';
@import './header';
@import './button';
@import './sections/main-section';
@import './sections/courses';
@import './sections/advantages';
@import './sections/request'; 
  
.main-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    display: grid;
    grid-template-areas:
        ". header ."
        ". mainFirst ."
        ". courses ."
        ". mainSecond ."
        ". advantages ."
        "request request request";
    grid-template-columns: 92px 1fr 92px;
    font-family: 'OSReg';
    color: var(--color-dark);
}
