@mixin margin-center($size) {
    margin-left: $size;
    margin-right: auto;
    font-family: "333333";
}

.my-best-good-for-sales{
    background-color: red($color: #000000);
    display: block;
    
    &__p{
        background-color: green($color: #000000);
    }

    &__button{
        display: block;
        @include margin-center(100px);
        &_grin{
            color: blue($color: #000000);
        }
    }

    div{
        display: flex;
        @include margin-center(50px);
    }
}

