.advantages {
    grid-area: advantages;
    max-width: 1176px;
    padding-left: 120px;
    padding-bottom: 106px;

    h3 {
        @include font('OSReg', 46px, 54px);
        display: flex;
        justify-content: center;
        margin: 68px 0;
    }

    .all-advantages {
        display: flex;
        justify-content: space-between;
    }
    
    .region {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 240px;
        max-height: 210px;
        text-align: center;

        h4 {
            @include h4_main;
        }

        p {
            @include p_main(16px)
        }
        &-title {
            padding-top: 24px;
            padding-bottom: 16px;
        }
    }
}