.name-courses {
    grid-area: name1;
    display: flex;
    justify-content: center;
    @include font('OSReg', 46px, 54px, 500);
}

.name-courses:hover {
    animation: slidein;
    animation-duration: 2s;
    animation-iteration-count: 1;

    @keyframes slidein {
        from {
            margin-left: 0;
        }

        25% {
            margin-left: 200px;
        }

        75% {
            margin-left: -200px;
        }

        to{
            margin-left: 0;
        }
    }
}

.courses {
    grid-area: courses;
    overflow-x: scroll;
}

.all-cards {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
    max-width: 1300px;
    padding-bottom: 80px;
    overflow-x: scroll;

}

.card {
    display: flex;
    flex-direction: column;
    width: 376px;
    height: 386px;
    border: 1px solid #E9EEF1;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px #E9EEF1;
    border-radius: 12px;

    &-img {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        width: 100%;
    }

    &-info {
        padding: 32px 24px;

        h4 {
            @include h4_main;
        }

        p {
            @include p_main(16px);
            padding-top: 16px;
            padding-bottom: 24px;
        }

        a {
            font-size: 18px;
            line-height: 24px;
        }
    }
}

@media (max-width: 950px) {
    .name-courses {
        @include font('OSReg', 36px, 42px, 500);
    }

    .courses {
        h3 {
            @include font('OSReg', 36px, 42px, 500);
        }
    }

    .all-cards {
        justify-content: space-around;
        min-width: 900px;
        max-width: 1000px;
        padding-bottom: 56px;
    }

    .card {
        width: 276px;
        height: 430px;
    }
}