.main-section {
    display: flex;
    align-items: center;
    min-height: 708px;
    padding: 0;
    background: center center no-repeat;
    background-size: cover;

    &_first {
        grid-area: mainFirst;
        background-image: url('../img/image.jpg');
    }

    &_second {
        grid-area: mainSecond;
        background-image: url('../img/image2.jpg');
        justify-content: flex-end;
    }

    &__info {
        color: var(--color-white);
        width: 500px;
        padding: 0;
        margin-left: 110px;
        margin-bottom: 120px;

        &_second {
            margin-right: 270px;
            margin-bottom: 120px;
            width: 420px;
        }
    }

    &__title {
        @include font('OSBold', 58px, 68px);
        margin-bottom: 20px;
    }

    &__text {
        @include font('OSLight', 24px, 32px);
        margin-bottom: 32px;
    }
}