.request {
    grid-area: request;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 64px;
    background-color: var(--color-aqua-haze);

    &__header {
        text-align: center;
        @include font('OSReg', 46px, 54px, 500);
    }

    &__form {
        width: 100%;
        max-width: 456px;
        margin-bottom: 64px;
    }

    &__form-element {
        margin-bottom: 32px;
    }
}

@media (max-width: 400px) {
    .request {
        &__header {
            max-width: 400px;
            @include font('OSReg', 36px, 42px, 500);
        }
    }
}